<h1>About</h1>
<h3>Welcome to the show</h3>
<p>This is my personal test/training/practice website.</p>
<p>So far I have built this site with:<br/>
	<ul>
		<li>Ruby 2.0.0</li>
		<li>Rails 4.0.0</li>
		<li>MongoDB/Mongoid</>
		<li>Devise</li>
		<li>Twitter Bootstrap</li>
	</ul>
</p>
<p>I am working on incorporating:
	<ul>
		<li>A shopping cart demo</li>
		<li>A blog demo</li>
		<li>CanCan</li>
		<li>a CMS, perhaps </li>
	</ul>
</p>
<p>Along the way I have run into a problem with Heroku's precompile of the asset pipeline. In particular, trying to set a background image for a &lt;DIV&gt;. I am using sass for my css</p>
<p>The coolest thing I have seen so far is the rails generate command which I used to generate this page</p>
<p>I highly recommed the RailsApps tutorials as well as http://ruby.railstutorial.org/</p>