<h1>
Welcome to LiteralLight, <%= current_user.email %>!
</h1>
<section>
<p>This is my personal test/training/practice website.</p>
<p>This site is built with:<br/>
	<ul>
		<li>Ruby <%= RUBY_VERSION %></li>
		<li>Rails <%= Rails.version %></li>
		<li>MongoDB/Mongoid</li>
		<li>Devise</li>
		<li>Twitter Bootstrap</li>
	</ul>
</p>
<p>Along the way I have run into a problem with Heroku's precompile of the asset pipeline. In particular, trying to set a background image for a &lt;DIV&gt;.<br/> I am testing out a solution using Bower to manage front end assets.</p>
<p>The coolest thing I have seen so far is the rails generate command which I used to generate this page</p>
<p>I highly recommed the RailsApps tutorials as well as http://ruby.railstutorial.org/</p>
<h2>New and Improved</h2>
<p>Enhancing this site to make it <em>RESTful</em> with AngularJS!</p>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>	











 
