<!-- Find me in app/views/static_pages/help.html.erb -->
<h3>Help</h3>

<h1>&lt;h1&gt;This is heading 1&lt;/h1&gt;</h1>
<h2>&lt;h2&gt;This is heading 2&lt;/h2&gt;</h2>
<h3>&lt;h3&gt;This is heading 3&lt;/h3&gt;</h3>
<h4>&lt;h4&gt;This is heading 4&lt;/h4&gt;</h1>
<h5>&lt;h5&gt;This is heading 5&lt;/h5&gt;</h5>