<div id="content">
<h3>About Expressions of Sympathy</h3>
<p>Expressions of Sympathy&trade; is a product of Batesville Services, Inc. For more information on Batesville Interactive, visit <a href="http://www.batesvilleinteractive.com." target="_blank">www.batesvilleinteractive.com.</a> </p>
<h3>About Sunrise Greetings</h3>
<p>Sunrise Greetings, a Hallmark Cards brand, offers distinctive greeting cards for special occasions and everyday sending. Headquartered in Kansas City, Missouri, Sunrise products can be found in thousands of stores throughout the United States including Barnes and Noble, Office Max and Wegmans.   For more information on Sunrise Greetings and Hallmark Cards visit <a href="http://corporate.hallmark.com"  target="_blank">http://corporate.hallmark.com</a>. </p>
<h3>Cards that mail themselves</h3>
<p>Expressions of Sympathy&trade; makes it easy for you to send condolences. Simply select a design, add a personal message, choose the destination, complete the order and we will take care of the rest. Your personal sympathy card will be mailed to the location you select within one business day.</p>
</div>