<div id="content">
<h3>Use of ExpressionsOfSympathyCards.com</h3>
The use of this website constitutes your agreement to the terms and conditions set forth herin. Expressions Of Sympathy Cards reserves the right to amend, update, modify, delete, or change these terms of service, at any time, without any further notification.
<br><br>

<h3>Security Standards</h3>
Expressions Of Sympathy Cards uses the latest 256bit Encryption technology to process orders on behalf of 
the funeral home.  Your cerdit card information is transmitted directly to the bank and is 
never stored nor is it accessible by Expressions Of Sympathy Cards or any representative there of.  The privacy and security of your sensitive information
is of the highest importance to us and we strive to exceed all industry standard security practices.<br><br>

<h3>Purchasing Cards</h3>
Expressions Of Sympathy Cards makes every effort to ensure that cards are sent within 24 hours of the order being placed. On rare occasions, orders may be shipped after a period longer than 24 hours. Expressions Of Sympathy Cards makes no gaurantees as to the delivery time of an order, nor that the card will reach it's end destination. Expressions Of Sympathy Cards will insure that the card ordered, is addressed exactly as submitted during the ordering process. It is the sole responsibility of the consumer to verify the correct delivery address has been entered before submitting the order.
<br><br>
Submitting an order to Expressions Of Sympathy Cards constitutes an agreement to these terms of services and legally binds the ordering party to pay any and all charges associated with the order. The Ordering party further authorizes Expressions Of Sympathy Cards to charge the ordering party's payment method for the ammount displayed at the time of ordering.
<br><br>
For the purpose of order verification, IP addresses of ordering parties are logged in conjunction with the order details.
<br><br>
Orders cannot be changed once they are submitted. Likewise, orders cannot be stopped once they are submitted. All sales are final, and refunds will be issued only under extreme circumstances, and at the sole discretion of Expressions Of Sympathy Cards. 
<br><br>

<h3>Confirmation of Order</h3>
If you supply an email address during the ordering process, an automated receipt of purchase will be emailed to you.  This is your confirmation of purchase.  Charges on your credit card statement will appear as "Expressions Of Sympathy Cards".
</div>