<aside id="search" class="sidebar-widget widget_search">
<%= form_for :nominees, method: :get do |f| %>
<div class="input-group input-group-lg">
<%= label_tag :keywords, nil, class: "sr-only" %>
<%= text_field_tag :keywords, nil, placeholder: "Year, Author, Award, Title", class: "form-control input-sm" %>
<span class="input-group-btn">
<%= submit_tag , class: "btn btn-primary btn-sm" do %>
<i aria-hidden="false" class="glyphicon glyphicon-search">
<% end %>
</span>
</div>
<% end %>
</aside>