<aside id="search" class="sidebar-widget widget_search">
<%= form_for :nominees, method: :get do |f| %>
<div class="input-group input-group-lg">
<%= label_tag :keywords, nil, class: "sr-only" %>
<%= text_field_tag :keywords, nil,
placeholder: "Year, Author, Award or Title",
class: "form-control input-xs" %>
<span class="input-group-btn">
<%= button_tag "", type: "submit", class: "btn btn-primary btn-xs glyphicon glyphicon-search pull-right" %>
</span>
</div>
<% end %>
</aside>