



                 
    <section id="pranayama" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Pranayama</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Paragraph One</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <section id="sadhu" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Mouni Sadhu</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Meditation</h2>
                                <p>Mouni Sadhu wrote about meditation, &ldquo;  FIRST must come the stopping of all thoughts. The Vichara ripens in the mind so that interest in the thinking process vanishes, and the stilling of the mind, so difficult in the past, becomes easy.&rdquo;</p>

                                <p>&ldquo;SECONDLY, when the mind is still, there arises a strong urge to be united with the whole, but what this whole is, cannot yet be conceived and I feel that I could never attain it alone. The closest comparison is melting and dissolving in That which alone Is. It is different to leaving the body or ego for there is no movement. One remains where one is, but is not what one was before. Everything that could be seen or felt before is now apart from me. No more can be told.&rdquo;</p>

                                <p>&ldquo;THIRDLY, the state of unity with the whole brings an unshakable certainty that only this state is real and permanent. That it is that last refuge which one has always sought, and from which one can never more be lost.There is nothing beyond it, for - it is all. &rdquo; </p>

                                <p>The absolute best guide to meditation is <a href="https://www.amazon.com/Meditation-Outline-Practical-Mouni-Sadhu/dp/1904658067/ref=sr_1_1?s=books&ie=UTF8&qid=1465994648&sr=1-1&keywords=9781904658061">Meditation: An Outline for Practical Study</a> by Mouni Sadhu. </p>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Who is Mouni Sadhu?</h2>
                                <p>Mouni Sadhu is the mystical name taken by Dymitr Sudoski, a noted Occultist and Mystic of the first half of the Twentieth Century. The word "mouni" means silent and "sadhu" refers to a wandering holy man. The author has tried many paths on the route to self-realization, and is uniquely qualified to relate the truths in this book. Steeped in the Hermetic schools which abounded at the turn of the 19th century, then embracing the teachings of Sri Ramana Maharshi and Vichara-yet never forgetting his Catholic faith-Mouni Sadhu successfully advances our mental synthesis and leads us to the door of True Self. Mouni's writing was based not only on rigorous study of the texts of his day, but on personal experience and diligent practice.(<a href="https://books.google.com/books/about/Meditation.html?id=ZOIa46E1vFUC">Google Books</a>)</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>An Outline for Practical Study</h2>
                                <p>I've read books on the subject, but the absolute best guide to meditation is <a href="https://www.amazon.com/Meditation-Outline-Practical-Mouni-Sadhu/dp/1904658067/ref=sr_1_1?s=books&ie=UTF8&qid=1465994648&sr=1-1&keywords=9781904658061">Meditation: An Outline for Practical Study</a> by Mouni Sadhu. </p>
                                <p>In the section of the book titled "Techniques of Meditation", Sadhu presents a methodology without any religous or mystical justification, just simple instruction. 
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>     
    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Portfolio</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Product One</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <h2>Product Two</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <h2>Product Three</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <h2>Product Four</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                               <h2>Product Five</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <h2>Product Six</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>

                    </div>               
                    <!-- /.row (nested) -->
                    <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

  <script type='text/javascript'>
      $(document).ready(function() {
          $('.carousel').carousel({
              interval: 3000
          })
      });
  </script>
