
<div class="row">
            <div class="span8">
            	&nbsp;
            </div>
            <div class="span4">
                  <%= image_tag "literallight_txt.png" %>
            </div>
</div> 
          		
