
<div class="row">
      <div class="span8">
            &nbsp;
      </div>
      <div class="span4" align="right">
            <%= image_tag "literallight_txt.png" %>
      </div>
</div> 
<div class="row">  
      <div class="span8">         
      <h3>What is Web Application Architecture?</h3>
      <p>Making all these things work together:
      </p>
            <ul>
            <li>Search Engine Optimization</li>
            <li>Analytics</li>
            <li>Social Media</li>
            <li>Shopping Carts</li>
            <li>Webservices</li>
            <li>Data Access Objects</li>
            <li>Responsive Design</li>
            <li>Multiple platform compatability</li>
            <li>Brand/Theme Integration</li>
            <li>Workflow</li>
            <li>Security</li>
            <li>Authentication &amp; Authorization</li>
            <li>Script Libraries</li>
            <li>Style Libraries</li>
            <li>Version Control</li>
            <li>Hosting</li>
            </ul>
      <p>To create a website that works for you. </p>
      </div>
      <div class="span1" align="left">
            &nbsp;
      </div>  
      <div class="span2" align="left" style="padding-left:2em;padding-top:5em;">
            <i>
      Because websites are not something people just look at, they are something people interact with.</i>
      </div>
      <div class="span1" align="left">
            &nbsp;
      </div>      
</div>      