<div class="main-margined">
<div class="row">
<div class="col-md-10 col-md-offset-1 col-sm-12">

<article data-ng-app="angular_test">
	<header>
		<h1 ng-if="name">Hello, {{name}}</h1>
	</header>
	<section>
	<form class="form-inline">
		<div class="form-group">
		<label for="name">Name</label>
		<input class="form-control"
		name="name"
		type="text"
		placeholder="Enter your name"
		autofocus
		ng-model="name">
		</div>
	</form>
	</section>
</article>

<article data-ng-app="angular_test" data-ng-controller="GreetingController">
	<header>
		<h1>Today is, {{greeting}}</h1>
	</header>
	<section>
		<p>Raw Date: <%= DateTime.now.in_time_zone('Indiana (East)').to_formatted_s(:fullDT) %></p>
		<p>StarDate: <%= DateTime.now.in_time_zone('Indiana (East)').to_formatted_s(:stardate) %></p>
	</section>
</article>

</div>
</div>
</div>