<div class="main-margined">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <div ng-app="apMusingSearch">
        <div ng-controller="ctlrMusingSearch">
          hey: {{greeting}}
        </div>
      </div>
    </div>
  </div>
</div>
