<div class="main-margined">
<div class="row">
<div class="col-md-10 col-md-offset-1 col-sm-12">

<article data-ng-app="apMusingSearch">
  <header>
    <h1 ng-controller="ctlrMusingSearch">Today is, {{greeting}}</h1>
  </header>
</article>

</div>
</div>
</div>