<article data-ng-app="angular_test" class="main-margined">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      
        <h1 ng-controller="ctlrMusingSearch">boyd: {{greeting}}</h1>

    </div>
  </div>
</article>
