<div class="main-margined">
<div class="row">
<div class="col-md-10 col-md-offset-1 col-sm-12">

<article data-ng-app="apMusingSearch">
  <div  ng-controller="ctlrMusingSearch">
    <header>
      <h1>{{greeting}}</h1>
    </header>

    <div class="search-form panel panel-default" >
      <div class="panel-body" style="background-color: #ccc;">
        <form>
          <div class="input-group inpug-group-lg">
            <label for="searchwords" class="sr-only">Searchwords</label> 
            <input type="text" 
              name="searchwords" 
              placeholder="Search Words"
              class="form-control input-md" 
              ng-model="searchwords"
              ng-change="search(searchwords)">  
          </div>
        </form>
      </div>  
    </div>
    <p class="searchedFor" ng-if="searchedFor">
      <small> Results for:</small> {{searchedFor}}
    </p>

    <nav>
      <ul class="pager">
        <li class = "previous">
          <a href="" ng-click="previousPage()">&larr; Previous</a>
        </li>
        <li class="next">
          <a href="" ng=click="nextPage()">Next &rarr;</a>
        </li>  
      </ul>
    </nav>
      
    <div class="table-responsive">
      <table class="table reqponsive-table">
        <thead>
          <tr>
            <th style="width:100px;">Date</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          
            <tr ng-repeat="musing in musings">
              <td style="width:100px;">
              <%= link_to '{{musing.entry_for | date }}', edit_journal_path(journal) class: "btn btn-default btn-xs" %>
              </td>
              <td>{{musing.notes}}</td>
            </tr>

        </tbody>
      </table>
    </div>

  </article>

</div>
</div>
</div>