// Place all the styles related to the glossaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
	background-image: linear-gradient(to bottom, black 0%, #000099 100%);
	min-height: 680px;
}

body {
    background: #000099 none repeat scroll 0 0;
    color: #ccc;
}

.footer {
    background: #000099 none repeat scroll 0 0;
    border-top: 1px solid #66ccff;
    clear: both;
    color: #66ccff;
    height: 50px;
    padding-left: 2em;
    position: relative;
}