// Place all the styles related to the journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-panel {
	padding:5px;
}

.body-panel textarea {
	width: 100%;
	border:none;
}

.panel-default {
	margin-top: 10px;
	margin-bottom: 10px;
}