// Place all the styles related to the journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_journal.panel-body {
	padding:5px;
}

.body-panel textarea {
	width: 100%;
	border:none;
	height: 90px;
}

.edit_journal.panel-default {
	margin-top: 10px;
	margin-bottom: 10px;
}

.edit_journal textarea {
	width:100%;
	border: none;
}

.new_journal textarea {
	width:100%;
	border: none;
}

.new_journal.body-panel {
	padding:5px;
}

.body-panel textarea {
	width: 100%;
	border:none;
}

.new_journal.panel-default {
	margin-top: 10px;
	margin-bottom: 10px;
}

#blog {
	color: #ddd;
    overflow-y: auto;
    position: fixed;
    top: 50px;
    bottom: -40px;
    width: 95%;	
}

#blog h2{
	font-style: italic;
	color: #D15852;
	width:100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.5rem;
	margin-top: 1.5rem;
}

#blog div.small{
	font-size: 10pt;
}

@media (max-width: 400px) {

table {
	font-size: 0.7 rem;
}

}