<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h1><%= @email_name %> &lt;<%= @email_address %>&gt; sent these comments:</h1>
<p><%= @email_message %></p>

</body>
</html>