<footer class="footer">
	<div class="row-fluid">
		<div class="span6">
		    &copy; Ben McKibben, <%= Time.now.year %>. All rights reserved.<br/>
		    v. 20131013
		</div>
		<div class="span6" style="float:right;">
		    <!-- AddThis Button BEGIN -->
		    <div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="right:20px;top:80px;">
		    <a class="addthis_button_preferred_1"></a>
		    <a class="addthis_button_preferred_2"></a>
		    <a class="addthis_button_preferred_3"></a>
		    <a class="addthis_button_preferred_4"></a>
		    <!-- <a class="addthis_button_compact"></a> -->
		    </div>
		    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520264524c9078e8"></script>
		    <!-- AddThis Button END -->
		</div>
	</div>	
</footer>

