<% if notice.present? %>
<aside class="alert alert-info alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="glyphiconglyphicon-remove-circle"></span></button>
<%= notice %>
</aside>
<% end %>
<% if alert.present? %>
<aside class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="glyphiconglyphicon-remove-circle"></span></button>
<%= alert %>
</aside>
<% end %>